@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-slate-800 bg-slate-50;
  }
}

.glass {
  @apply bg-white/80 backdrop-blur-md border-b border-white/20;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-purple to-brand-teal;
}

.gradient-bg {
  @apply bg-gradient-to-r from-brand-purple to-brand-teal;
}
